.header {
    position: fixed;
    padding: 20px 32px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.right_block {
    display: none;
    gap: 32px;
}

.burger {
    display: flex;
}

@media (min-width: 500px) {
    .right_block {
        display: flex;
    }

    .burger {
        display: none;
    }
}
